<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="__ROOT__/Public/css/index2.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
</head>
<body>
<div class="top">
    <img src="__ROOT__/Public/images/down.png"/>
</div>
<div class="manebox">
    <span class="mane">9度财经APP</span>
    <span class="govement">官方</span>
</div>
<div class="down">
    <div class="iphonedown"><em></em><a href="https://itunes.apple.com/cn/app/9du-cai-jing/id1153256151?mt=8">iPhone下载</a></div>
    <div class="androiddown"><em></em><a href="http://jdcjapp.oss-cn-hangzhou.aliyuncs.com/jiuducaijingapp.apk">Android下载</a></div>
</div>
<div class="showinfobox">
    <div class="showinfo">
        <div class="showbox">
            <div class="show">
                <div style="width:100%;">
                    <img src="__PUBLIC__/images/1.jpg"/>
                    <img src="__PUBLIC__/images/2.jpg"/>
                    <img src="__PUBLIC__/images/3.jpg"/>
                    <img src="__PUBLIC__/images/4.jpg"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="infobox">
    <table class="info">
        <tr>
            <td>版本</td>
            <td>1.0</td>
        </tr>
        <tr>
            <td>产品简介</td>
            <td>9度财经直播APP：是一家集期货、股票/贵金属为一体的直播精品APP端，致力于提供专业、及时、海量的直播+财经资讯信息，满足广大现货投资者和从业者对直播+财经、生活娱乐等各种需求，全力打造财经、直播、数据三位一体的全方位财经服务APP，为投资者提供优质的投资增值服务。</td>
        </tr>
    </table>
</div>
</body>
</html>
